/*
Theme Name: 2s
Theme URI: http://2s.com.br/wp-content/themes/
Author: Cubiculo Criativo
Description: Novo site da empresa 2S
Version: 1.0
Tags:
Text Domain:
*/

/*NOVOS ESTILOS*/

.pagina-nova h1{
  text-align: center;
  color: #004B5C;
  padding-top: 40px;
  margin-bottom: 60px;
}

.pagina-nova h1::before{
    content: ' ';
    position:absolute;
    bottom:0;
    left:0;
    widht:100%;
    height: 3px;
    background-color: blue;
}

.pagina-nova ul.lista{
  padding-left: 0;
}

.pagina-nova ul.lista li{
  list-style: none;
  margin-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 50px;
}

.pagina-nova ul.lista li:before{
  content: '';
  width: 3px;
  height:100%;
  background-color: #2977BA;
}

.pagina-nova .box-opcoes .item{
  float: left;
  width: 20%;
}

.faixa-azul{
  background-color: #2072B7;
  padding-top: 65px;
  padding-bottom: 80px;
}

.faixa-azul h3{
  text-align: center;
}

.faixa-azul h3, .faixa-azul p{
  color: white;
}
