/* Add here all your css styles (customizations) */
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

/*//body all fonts*/
body {
    font-family: 'Bitter', serif !important;
}

/*//Nav principal*/
.navbar-brand {
	padding: 13px;
}

.header-fixed-shrink .navbar-brand {
	padding: 6px;
}
/*//End Nav principal*/

/*//Topcontrol*/
#topcontrol {
    color: #fff;
    z-index: 99;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #146bac;
    position: relative;
    right: 14px !important;
    bottom: 11px !important;
    border-radius: 3px !important;
}
#topcontrol:hover {
	background: #707e97;
}
/*//End Topcontrol*/

/*//Headline*/
.headline {
    display: block;
    margin: 30px 0 15px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.headline h2, .headline h3, .headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #146bac;
}

.headline-v2  {
    display: block;
    background: #fff;
    padding: 1px 10px;
    /*margin: 0 0 20px 0;*/
    margin: 30px 0 25px 0;
    border-left: 2px solid #146bac;
}

.headline-v2.teste  {
    display: block;
    background: none;
    padding: 1px 10px;
    /*margin: 0 0 20px 0;*/
    margin: 10px 0 25px 0;
    border-left: 2px solid #ffffff;
}

.headline-v2.teste h2  { color: #ffffff;}

.headline-v2 h2 {
    font-weight: 400;
    text-transform: uppercase;
}

.headline h2 {
    font-size: 20px;
}

.headline-center h2{
	padding-bottom: 10px;
}
.headline-center h2:after {
    left: 50%;
    z-index: 1;
    width: 30px;
    height: 2px;
    content: " ";
    bottom: -5px;
    margin-left: -15px;
    text-align: center;
    position: absolute;
    background: #146bac;
}

.headline.headline-colaboracao h2{
    border-bottom: 2px solid #fcca3d;
}

.headline.headline-iot h2{
    border-bottom: 2px solid #1d4c5c;
}

.headline.headline-mobilidade h2{
    border-bottom: 2px solid #fe7b38;
}

.headline.headline-seguranca h2{
    border-bottom: 2px solid #00b49d;
}

.headline.headline-datacenter h2{
    border-bottom: 2px solid #ff5a47;
}
/*//Headline*/

/*//Botoes*/
a.btn-u, .btn-u {
	background: #146bac!important;
}
a.btn-u:hover,
a.btn-u:focus,
a.btn-u:active,
a.btn-u.active,
a.open .dropdown-toggle.btn-u {
	background: #324c80 !important;
	color: #fff;
}
/*//End Botoes*/

/*//Box-home*/
.news-v2 .news-v2-badge p {
    left: 0;
    top: 50px;
    background: #fff;
    padding: 5px;
    text-align: center;
    position: absolute;
}

.news-v2-desc > h3 a:hover {
	color: #146bac !important;
	text-decoration: none;
}

.news-v2 .news-v2-desc {
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    min-height: 180px;
}

.news-v2-desc2 > h3 a:hover {
	color: #146bac !important;
	text-decoration: none;
}

.news-v2 .news-v2-desc2 {
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
    min-height: 235px;
}
/*//End Box-home*/

/*//Backgrounds Internas*/
.titulos-breadcrumbs {
	background: #146bac;
	margin: 20px 0px;
	padding: 10px 30px;
	float: left;
}

.titulos-breadcrumbs h1 {
	font-weight: bold !important;
	text-transform: uppercase;
	line-height: 20px;
	color: #ffffff !important;
}


.titulos-breadcrumbs h1 a {
	color: #ffffff !important;
}

.breadcrumbs.img-empresa {
    background: url(../img/sliders/layer/empresa_header.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs.img-parceria{
    height:750px;
    background: url(../img/solutions/main-banner-parceiros.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs.img-cases{
    background: url(../img/sliders/layer/cases_header.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs.img-servicos{
    height:750px;
    background: url(../img/solutions/main-banner-servicos.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs.img-solucoes{
    height:750px;
    background: url(../img/solutions/main-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs.img-videos{
    background: url(../img/sliders/layer/videos_header.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs.img-contato{
	background: url(../img/sliders/layer/contato_header.png) no-repeat;
	background-size: cover;
    background-position: center center;
}
/*//End Backgrounds Internas*/

/*//Listas */
.lists-v2 i {
    color: #146bac;
}
/*//End Listas */

/*//Aside*/
h2.heading-sm{
    font-size: 14px;
    line-height: 24px;
}
i.icon-color-u {
    color: #146bac;
    border: solid 1px #146bac;
}
i.icon-custom {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
}
.color-aside {
    /*padding:10px 10px 2px 10px;*/
    background:#146BAC;
}
.color-aside i.icon-color-u {
    color: #ffffff;
    border: solid 1px #ffffff;
}
.color-aside a {
    color: #ffffff;
    font-size: 12px;
}

.color-aside .active > a {
    text-decoration: underline;
}

.color-aside li {
    list-style: none;
}
.color-aside li a i{
    margin:10px 5px 10px 10px;
}
.color-aside li a{
    display: block;
}

.color-aside li a:hover, .color-aside li.active a{
    color: #fff;
    background: #286090;
    text-decoration: none;
}

/*//End Aside*/

/*//Process*/
.process-v1 .process-in > li i {
    z-index: 1;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    background: #146bac;
    margin-bottom: 15px;
    display: inline-block;
    border: solid 9px #fff;
}
/*// End Process*/

/*//Cases*/
.team-v3 .team-hover span {
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
}

.team-v3 .team-img:hover:after {
    background: rgba(20,107,172,0.9);
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.team-v3 .team-hover p {
    text-align: left;
    color: #fff;
    font-weight: 200;
    margin-bottom: 20px;
}
.team-v3 .team-hover a:hover {
	text-decoration: none;
}
/*//End Cases*/

/*//Conteúdos*/
.team-v4{
    margin:30px 0px;
    min-height: 450px;
}

.team-v4 .team-hover span {
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
}

.team-v4 .team-hover p {
    text-align: left;
    color: #fff;
    font-weight: 200;
    margin-bottom: 20px;
}
.team-v4 .team-hover a:hover {
    text-decoration: none;
}


/*//Soluções*/
.team-v7 .team-v7-in {
    padding: 0 10px;
}

.team-v7 .team-v7-name {
     margin-top: 10px;
}

/*//Tagbox */
.tag-box {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.tag-box-2s {
    background: #146bac;
    color: #fff !important;
}
/*//End Tagbox*/

/*//New Footer*/
img.new-ident {
    margin:-20px auto 20px auto;
    max-width: 120px;
}
/*//End New Footer*/

/*//Valores*/
.valores {
    background: #146bac;
    color: #fff !important;
    font-size: 18px;
    padding: 10px 8px;
    margin-bottom: 10px;
    text-align: center;
}
/*//End Valores*/

/*//Accordeon Soluçoes*/
.panel-2s, .panel-2s-serv {
    border-color: #3b3b3b !important;
}

.panel-2s .panel-heading a, .panel-2s-serv .panel-heading a {
    display: block;
    font-size: 12px;
    padding: 10px 8px;
    color: #fff;
    background: #23527c;
    /*background: #286090;*/
}

.panel-2s .panel-heading a:hover, .panel-2s.active .panel-heading a,
.panel-2s-serv .panel-heading a:hover, .panel-2s-serv.active .panel-heading a,{
    text-decoration: none;
    background: #146bac;
}

.panel-2s .panel-heading a:after, .panel-2s.active .panel-heading a:after
.panel-2s-serv .panel-heading a:after, .panel-2s-serv.active .panel-heading a:after{
    float: right;
    margin: 2px 10px;
    color: #fff !important;
    font-size: 16px;
    content: "\f13a";
    font-weight: normal;
    font-family: FontAwesome;
}

.panel-2s.active .panel-heading a:after, .panel-2s-serv.active .panel-heading a:after{
    content: "\f139";
}

a i.icon-solucoes {
    color: #fff;
    border-color: #fff;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.panel-2s:nth-child(5n+1) { border-color: #d9a82b; }
.panel-2s:nth-child(5n+2) { border-color: #cf4336; }
.panel-2s:nth-child(5n+3) { border-color: #db5e24; }
.panel-2s:nth-child(5n+4) { border-color: #1c9585; }
.panel-2s:nth-child(5n+5) { border-color: #06313b; }

.panel-2s .panel-heading a[href="#collapse-One"]{ background: #fcca3d; }
.panel-2s .panel-heading a[href="#collapse-Two"]{ background: #ff5a47; }
.panel-2s .panel-heading a[href="#collapse-Three"]{ background: #fe7b38; }
.panel-2s .panel-heading a[href="#collapse-Four"]{ background: #00b49d; }
.panel-2s .panel-heading a[href="#collapse-Five"]{ background: #1d4c5c; }
/*//End Accordeon Soluçoes*/


/*Tabs custom*/

/*Tab Colaboracao*/
.tab-v1.tab-colaboracao .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px #fcca3d;
}

.tab-v1.tab-solucoes .nav-tabs > .colaboracao-tab > a,
.tab-v1.tab-colaboracao .nav-tabs > .active > a,
.tab-v1.tab-colaboracao .nav-tabs > .active > a:hover,
.tab-v1.tab-colaboracao .nav-tabs > .active > a:focus {
    color: #fff;
    border-left: 6px solid #d9a82b;
    background: #fcca3d;
}

.tab-v1.tab-solucoes .nav-tabs > .colaboracao-tab.active a {
    color: #fff;
    border-left: 6px solid #fcca3d;
    background: #d9a82b;
}

.tab-v1.tab-colaboracao .nav-tabs > li > a:hover {
    color: #fff;
    background: #fcca3d;
}

.tab-colaboracao .nav-tabs > li > a:hover {
     border-color: #d9a82b #d9a82b #fcca3d;
}

.border-colaboracao {
    border-top: 5px solid #fcca3d;
}

/*End Tab Colaboracao*/

/*Tab seguranca*/
.tab-v1.tab-seguranca .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px #00b49d;
}

.tab-v1.tab-solucoes .nav-tabs > .seguranca-tab > a,
.tab-v1.tab-seguranca .nav-tabs > .active > a,
.tab-v1.tab-seguranca .nav-tabs > .active > a:hover,
.tab-v1.tab-seguranca .nav-tabs > .active > a:focus {
    color: #fff;
    border-left: 6px solid #1c9585;
    background: #00b49d;
}

.tab-v1.tab-solucoes .nav-tabs > .seguranca-tab.active a{
    color: #fff;
    border-left: 6px solid #00b49d;
    background: #1c9585;
}

.tab-v1.tab-seguranca .nav-tabs > li > a:hover {
    color: #fff;
    background: #00b49d;
}

.tab-seguranca .nav-tabs > li > a:hover {
     border-color: #1c9585 #1c9585 #00b49d;
}

.border-seguranca {
    border-top: 5px solid #00b49d;
}
/*End Tab seguranca*/

/*Tab iot*/
.tab-v1.tab-iot .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px #1d4c5c;
}

.tab-v1.tab-solucoes .nav-tabs > .iot-tab > a,
.tab-v1.tab-iot .nav-tabs > .active > a,
.tab-v1.tab-iot .nav-tabs > .active > a:hover,
.tab-v1.tab-iot .nav-tabs > .active > a:focus {
    color: #fff;
    border-left: 6px solid #06313b;
    background: #1d4c5c;
}

.tab-v1.tab-solucoes .nav-tabs > .iot-tab.active a{
    color: #fff;
    border-left: 6px solid #1d4c5c;
    background: #06313b;
}

.tab-v1.tab-iot .nav-tabs > li > a:hover {
    color: #fff;
    background: #1d4c5c;
}

.tab-iot .nav-tabs > li > a:hover {
     border-color: #06313b #06313b #1d4c5c;
}

.border-iot {
    border-top: 5px solid #1d4c5c;
}
/*End Tab iot*/

/*Tab mobilidade*/
.tab-v1.tab-mobilidade .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px #fe7b38;
}

.tab-v1.tab-solucoes .nav-tabs > .mobilidade-tab > a,
.tab-v1.tab-mobilidade .nav-tabs > .active > a,
.tab-v1.tab-mobilidade .nav-tabs > .active > a:hover,
.tab-v1.tab-mobilidade .nav-tabs > .active > a:focus {
    color: #fff;
    border-left: 6px solid #db5e24;
    background: #fe7b38;
}

.tab-v1.tab-solucoes .nav-tabs > .mobilidade-tab.active a{
    color: #fff;
    border-left: 6px solid #fe7b38;
    background: #db5e24;
}

.tab-v1.tab-mobilidade .nav-tabs > li > a:hover {
    color: #fff;
    background: #fe7b38;
}

.tab-mobilidade .nav-tabs > li > a:hover {
     border-color: #db5e24 #db5e24 #fe7b38;
}
.border-mobilidade {
    border-top: 5px solid #f37b38;
}
/*End Tab mobilidade*/

/*Tab datacenter*/
.tab-v1.tab-datacenter .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px #ff5a47;
}

.tab-v1.tab-solucoes .nav-tabs > .datacenter-tab > a,
.tab-v1.tab-datacenter .nav-tabs > .active > a,
.tab-v1.tab-datacenter .nav-tabs > .active > a:hover,
.tab-v1.tab-datacenter .nav-tabs > .active > a:focus {
    color: #fff;
    border-left: 6px solid #f54733;
    background: #ff5a47;
}

.tab-v1.tab-solucoes .nav-tabs > .datacenter-tab.active a{
    color: #fff;
    border-left: 6px solid  #ff5a47;
    background:  #f54733;
}

.tab-v1.tab-datacenter .nav-tabs > li > a:hover {
    color: #fff;
    background: #ff5a47;
}

.tab-datacenter .nav-tabs > li > a:hover {
     border-color: #f54733 #f54733 #ff5a47;
}
.border-datacenter {
    border-top: 5px solid #ff5a47;

}
/*End Tab datacenter*/

/*Tab solucoes*/

.tab-v1.tab-solucoes .nav-tabs {
    border: none;
    background: none;
}

.tab-v1.tab-solucoes .tab-content {
        padding: 1px 0 10px 0;
}
.tab-v1.tab-solucoes .tab-content .text-justify{
    padding: 10px 0;
}
/*End Tab solucoes*/


/*End Tabs custom*/

/*//Box parcecias*/
.linha-1 p, .linha-2 p {
    color: #fff;
    padding: 10px;
}
.tag-box-2s-gray {
    background: #3b3b3b;
}
.linha-1 .tag-box-2s, .linha-1 .tag-box-2s-gray, .linha-2 .tag-box-2s, .linha-2 .tag-box-2s-gray{
    margin-bottom: 27px;
    height: 185px;
}
/*//End Box parcecias*/

/*//Especializaçoes*/
.colaboracao { background: #fcca3d; }
.datacenter { background: #ff5a47; }
.mobilidade { background: #fe7b38; }
.seguranca { background: #00b49d; }
.iot { background: #1d4c5c; }
.padrao { background: #146bac; }

.especializacoes {
    width: 185px;
    height: 185px;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius:50%;
}

.especializacoes.padrao {
    width: 135px;
    height: 135px;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius:50%;

    font-size: 10px;
}
.m-left{
    margin-left:-40px!important;
}
 .m-left-2{
    margin-left:-25px!important;
}

.especializacoes ul {
    list-style: none;
    margin: 0px;
    padding: 25%;
}

.especializacoes.padrao ul {
    list-style: none;
    margin: 0px;
    padding: 27% 24% 0;
}
.especializacoes ul li { color: #fff;}
/*//End Especializaçoes*/

/*//Lista Premios*/
ul.lista-premios {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.lista-premios li {
    margin-bottom: 30px;
}

.nome-premio p{
    color: #fff !important;
}

.nome-premio {
    background: #146bac;
    padding: 25px 10px 5px 10px;
    position: relative;
}

.ano-premio {
    display: block;
    position: absolute;
    top: -20;
    background: #3e3e3e;
    padding: 5px 5px 5px 10px;
    color: #fff;
    font-size: 18px;

}

ul.lista-sub-premios {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul.lista-sub-premios li {
    color: #fff;
    margin-bottom: 0px;

}

ul.lista-sub-premios li:first-child {
    margin-top: -10px;

}
/*//End Lista Premios*/

/*// Form contato*/
.msg-erro-form {
    display: table;
    margin-bottom: 10px!important;
}
