header h1{
  text-align: center;
  color: #004B5C;
  padding-top: 40px;
  margin-bottom: 60px;
  position: relative;
}

.headline{
  display: block;
  margin: 30px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}

.headline h2{
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #146bac;
}

.btn-banner{
  position: absolute;
  width: 15%;
  background-color: black;
  top: 50%;
  height: 50px;
  left: 50%;
  margin-left: -101px;
}

.banner_video{
  position: absolute;
  width: 100%;
  height: 500px;
  border-color: black;
  opacity: 0.4;
  z-index: 1111;
}
