/*
Theme Name: 2s
Theme URI: http://2s.com.br/wp-content/themes/
Author: Cubiculo Criativo
Description: Novo site da empresa 2S
Version: 1.0
Tags:
Text Domain:
*/

/*NOVOS ESTILOS*/

body{
  background-color: #FBFAFB;
  font-size: 14px;
}

.pagina-nova{
  margin-top: 0px;

}

.pagina-empresa{
  overflow: hidden;
}

.foto-header{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  height: 329px;
}
.lista-pontos li{
  margin-bottom: 15px;
  list-style: none;
  position: relative;
}
.lista-pontos li:before{
  content: '';
  position: absolute;
  left: -21px;
  top: 6px;
  width: 6px;
  height: 6px;
  transform: rotate(48deg);
  background-color: #2977BA;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .pagina-nova{
    margin-top: 100px;
  }
}


.pagina-nova h1{
  text-align: center;
  color: #004B5C;
  padding-top: 40px;
  margin-bottom: 60px;
  position: relative;
}
@media (max-width: 414px) {
  .pagina-nova h1{
    margin-bottom: 100px;
    padding-left: 40px;
  }
}
.pagina-nova h1 img{
  position: absolute;
  top: 16px;
}

.pagina-nova h1::before{
  content: ' ';
  position: absolute;
  bottom: -14px;
  left: 50%;
  width: 227px;
  height: 1px;
  background-color: #72C8DA;
  margin-left: -100px;
}

.pagina-nova .headline{
  margin-bottom: 60px;
  margin-top: 60px;
}

.pagina-nova ul.lista{
  padding-left: 0;
}

.pagina-nova ul.lista li{
  list-style: none;
  margin-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  min-height: 50px;
  position: relative;
}

.pagina-nova ul.lista li:before{
  content: '';
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: #2977BA;
  top: 0;
  left: 0;
}
.pagina-nova ul.lista li:nth-child(2):before{
  background-color: #004B5C;
}
.pagina-nova ul.lista li:nth-child(3):before{
  background-color: #01B59D;
}
.pagina-nova ul.lista li:nth-child(4):before{
  background-color: #FFCB26;
}
.pagina-nova ul.lista li:nth-child(5):before{
  background-color: #FF7C2F;
}
.pagina-nova ul.lista li:nth-child(6):before{
  background-color: #FF7C2F;
}
.pagina-nova ul.lista li:nth-child(7):before{
  background-color: #FFCB26;
}
.pagina-nova ul.lista li:nth-child(8):before{
  background-color: #2977BA;
}

/* Item página varejo inteligente */
.pagina-nova .box-opcoes .item{
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 30px;
  height: 215px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .pagina-nova .box-opcoes .item{
    width: 50%;
  }
  .triangulo, .triangulo1, .triangulo2, .triangulo3, .triangulo4, .triangulo5{
    display: none;
  }
}
.pagina-nova .box-opcoes .item img{
  margin-left: 15px;
}
/* Item página varejo inteligente */

/* Item página papel e celulose */
.pagina-nova .box-opcoes .item-p{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  height: 215px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .pagina-nova .box-opcoes .item-p{
    width: 50%;
  }
  .triangulo, .triangulo1, .triangulo2, .triangulo3, .triangulo4, .triangulo5{
    display: none;
  }
}
.pagina-nova .box-opcoes .item-p img{
  margin-left: 15px;
}
/* Item página papel e celulose */

.pagina-nova .box-opcoes .content{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E6E6E6;
  padding: 50px;
  width: 100%;
}

.content1{
  border-bottom: 3px solid #2072B7;
}
.content2{
  border-bottom: 3px solid #01B59D;
  display: none;
}
.content3{
  border-bottom: 3px solid #FFCB26;
  display: none;
}
.content4{
  border-bottom: 3px solid #FF7C2F;
  display: none;
}
.content5{
  border-bottom: 3px solid #FF5A45;
  display: none;
}

.triangulo{
  width: 50px;
  height: 50px;
  background-color: #E6E6E6;
  position: absolute;
  transform: rotate(45deg);
  top: -8%;
}

/* Triangulo content página Varejo Inteligente */
.content1 .triangulo{
  left: 6.6%;
}

.content2 .triangulo{
  left: 26.3%;
}

.content3 .triangulo{
  left: 46.3%;
}

.content4 .triangulo{
  left: 66.3%;
}

.content5 .triangulo{
  left: 86.2%;
}
/* Triangulo content página Varejo Inteligente */

@media only screen and (max-width: 414px){
  .pagina-nova .box-opcoes .content{
    padding: 10px;
  }
}

/* content-out da página Varejo Inteligente */
.pagina-nova .box-opcoes .content-out{
  width: 100%;
  float: left;
  position: relative;
  height: 200px;
}

@media only screen and (max-width: 414px){
  .pagina-nova .box-opcoes .content-out{
    height: 400px;
  }
}

@media only screen and (max-width: 768px){
  .pagina-nova .box-opcoes .content-out{
    height: 330px;
  }
}
/* content-out da página Varejo Inteligente */

/* content-out da página Papel e Celulose */
.pagina-nova .box-opcoes .content-out3{
  width: 100%;
  float: left;
  position: relative;
  height: 390px;
}

@media only screen and (max-width: 768px){
  .pagina-nova .box-opcoes .content-out3{
    height: 880px;
  }
}

.content-out3 .content1{
  border-bottom: 2px solid #2072B7;
}
.content-out3 .content2{
  border-bottom: 2px solid #FF7C2F;
}
.content-out3 .content3{
  border-bottom: 2px solid #01B59D;
}
.content-out3 .content4{
  border-bottom: 2px solid #FF5A45;
}
.content-out3 .content1 .triangulo{
  left: 9.7%;
}
.content-out3 .content2 .triangulo{
  left: 34.8%;
}
.content-out3 .content3 .triangulo{
  left: 59.7%;
}
.content-out3 .content4 .triangulo{
  left: 84.4%;
}
.content-out3 .triangulo{
  top: -5%;
}

/* content-out da página Papel e Celulose */

.pagina-nova .porcentagem span{
  font-size: 44px;
}
.pagina-nova .porcentagem .col-sm-3{
  padding-right: 10%;
}
.pagina-nova .porcentagem .azul, .pagina-nova .porcentagem .azul p{
  color: #1F71B7;
}
.pagina-nova .porcentagem .verde, .pagina-nova .porcentagem .verde p{
  color: #01B59D;
}
.pagina-nova .porcentagem .laranja, .pagina-nova .porcentagem .laranja p{
  color: #FF7C2F;
}
.pagina-nova .porcentagem .vermelho, .pagina-nova .porcentagem .vermelho p{
  color: #FF5A45;
}
.pagina-nova .video-titulo{
  margin: 50px 0;
}
.pagina-nova .video-lista ul li{
  list-style: none;
  line-height: 28px;
  border-bottom: 1px solid #2977BA;
  display: inline-block;
  clear: left;
    float: left;
}
.pagina-nova .video-saibamais{
  margin: 50px 0;
}
.pagina-nova .video-saibamais ul{
  padding: 0;
}
.pagina-nova .video-saibamais ul li{
  list-style: none;
  background: #E6E6E6;
  margin: 0;
  padding: 14px;
}
.pagina-nova .video-saibamais ul li:nth-child(2){
  background: #D9D9D9;
}
.pagina-nova .video-saibamais ul li a{
  color: #1F71B7;
  text-decoration: underline;
}
.pagina-nova .video-saibamais .btn{
  color: white;
  background-color: #1F71B7;
  border-radius: 5px;
  text-decoration: none;
  float: right;
  font-size: 9px;
}
.pagina-nova .contato{
  margin-bottom: 100px;
}
.pagina-nova .wpcf7-submit{
  background-color: #1F71B7;
  color: white;
  padding: 10px;
  border: none;
}

.faixa-azul{
  padding-top: 65px;
  padding-bottom: 80px;
}

.faixa-azul h3 h2{
  text-align: center;
  margin-bottom: 30px;

}

.faixa-azul h2,.faixa-azul h3, .faixa-azul p{
  color: white;
}
.faixa-azul img{
  position: absolute;
  left: 50%;
  margin-left: -50px;
}


.myIframe {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: auto;
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
border: solid black 1px;
}
.myIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.video-lista{
  margin-top: 45px;
  padding-left: 45px;
}

@media (min-width: 415px) and (max-width: 999px) {
  .video-lista{
    margin-top: 0px;
  }
}

@media only screen and (max-width: 414px) {
  .video-lista{
    padding-left: 0px;
  }
}

textarea{
  width: 100%;
}
input{
  width: 100%;
}

@media only screen and (max-width: 414px){
  header h1{
    margin-left: -40px;
    font-size: 25px;
  }
}

.divideo{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100000;
  top: 0;
  left: 0;
}

.faixa{
  width: 100%;
  position: absolute;
  left: 0;
  top: 200px;
  height: 10px;
}

.video{
  position: relative;
  margin-bottom: 30px;
  margin-top: 40px;
  height: 500px;
}
@media (max-width: 414px) {
  .video{
  height: 280px;
  }
}


* { box-sizing: border-box; }
.video-background {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bullet{
  height: 16px;
  width: 16px;
  border-radius: 30px;
  position: absolute;
  background-color: white;
  border: 4px solid #065459;
  animation-name: pulsate;
  display: none;
}

.bullet hr{
  height: 78px;
  width: 1px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #75C9D4;
  margin: 12px 3px;
  border-top: 0;
}

.texto{
  width: 135px;
  position: absolute;
  text-align: center;
  display: none;
}

.texto p{
  font-size: 11px;
  line-height: 15px;
}

.texto h4{
  color: black;
  font-size: 12px;
  line-height: 15px;
}

.experiencia{
  top: 20%;
  right: 39%;
}
.exp{
  top: -7%;
  right: 29%;
}

.shopper{
  top: 33%;
  right: 29%;
  transform: rotate(30deg);
}
.sho{
  top: 11%;
  right: 8%;
  width: 165px;
}

.posicionamento{
  top: 39%;
  right: 19%;
  transform: rotate(65deg);
}
.pos{
  top: 33%;
  right: -3%;
  width: 144px;
}

.estrategias{
  top: 64%;
  right: 18%;
  transform: rotate(125deg);
}
.estrategias hr{
  height: 104px;
}
.est{
  top: 61%;
  right: 1%;
}

.localizacao{
  top: 76%;
  right: 27%;
  transform: rotate(125deg);
}
.localizacao hr{
  height: 117px;
}
.loc{
  top: 81%;
  right: 17%;
}

.perfil{
  top: 79%;
  right: 54%;
  transform: rotate(184deg);
}
.perfil hr{
  height: 113px;
}
.per{
  top: 83%;
  right: 45%;
}

.conectividade{
  top: 64%;
  right: 72%;
  transform: rotate(235deg);
}
.conectividade hr{
  height: 99px;
}
.con{
  top: 71%;
  left: 17%;
}

.atendimento{
  top: 51%;
  right: 79%;
  transform: rotate(249deg);
}
.atendimento hr{
  height: 227px;
}
.ate{
  top: 47%;
  left: 3%;
}

.varejo{
  top: 28%;
  right: 75%;
  transform: rotate(300deg);
}
.var{
  top: 21%;
  left: 4%;
}

.time{
  top: 17%;
  right: 69%;
  transform: rotate(306deg);
}
.tim{
  top: 2%;
  left: 8%;
  width: 180px;
}

.dominio{
  top: 14%;
  right: 55%;
  transform: rotate(318deg);
}
.dominio hr{
  height: 75px;
}
.dom{
  top: -3%;
  left: 32%;
  width: 150px;
}

@media (max-width: 415px) {
  .triangulo{
    display: none;
  }
  .img-varejo{
    display: none;
  }
}

@media (min-width: 415px) {
  .textoresp{
    display: none;
  }
  .mapa_varejo{
    display: none;
  }
}

@media (max-width: 768px) {
  #video{
    display: none;
  }
}

@media (min-width: 769px) {
  .img-varejo{
    display: none;
  }
}

.textoresp p{
  font-size: 13px;
}

.textoresp{
  margin-bottom: 40px;
}

.transformacao{
  margin-bottom: 60px;
}
.transformacao ul li{
  list-style-type: none;
  margin-top: 45px;
  margin-left: -40px;
}

.transformacao ul li p{
  padding-left: 70px;
  padding-top: 10px;
}

.transformacao img{
  position: absolute;
}

/* content-out da página tecnologia em areas de negocios */
.content-out2{
  width: 100%;
  float: left;
  position: relative;
  height: 750px;
}
@media (max-width: 414px) {
  .content-out2{
    height: 2480px;
  }
}
@media (min-width: 415px) and (max-width: 1200px){
  .content-out2{
    height: 1200px;
  }
}
.content-out2 .areas{
  position: absolute;
  top: 0;
  left: 0;
  background-color: none;
  padding: 50px;
  width: 100%;
  border-bottom: none;
}
@media (max-width: 414px) {
  .content-out2 .areas{
    padding: 0px;
    padding-top: 50px;
  }
}
.content-out2 .content1{
  border-top: 2px solid #2072B7;
}
.content-out2 .content2{
  border-top: 2px solid #01B59D;
}
.content-out2 .content3{
  border-top: 2px solid #FFCB26;
}
.content-out2 .content4{
  border-top: 2px solid #FF7C2F;
}
.content-out2 .content5{
  border-top: 2px solid #FF5A45;
}
/* content-out da página tecnologia em areas de negocios */

.header h1::before{
  content: ' ';
  position: absolute;
  bottom: -20px;
  left: 40%;
  width: 36%;
  height: 1px;
  background-color: #C2E1E7;
  margin-left: -100px;
}
@media (max-width: 414px) {
  .header h1::before{
      display: none;
  }
}
@media (min-width: 415px) and (max-width: 1200px) {
  .header h1::before{
    left: 39%;
    width: 40%;
  }
}

.header h1 img{
  position: absolute;
  top: -5px;
  margin-left: 10px;
}
@media (max-width: 414px) {
  .header h1 img{
    position: absolute;
    top: 115px;
    margin-left: -80px;
  }
}

/* Header página Papel e Celulose */
.pagina-nova .header3 h1{
  padding-left: 0px;
}
.pagina-nova .header3 h1::before{
  content: ' ';
  position: absolute;
  bottom: -14px;
  left: 50%;
  width: 250px;
  height: 1px;
  background-color: #72C8DA;
  margin-left: -125px;
}
/* Header página Papel e Celulose */
.mandatorio{
  list-style-type: none;
  margin-bottom: 60px;
}

.mandatorio img{
  margin-left: 35%;
  margin-bottom: 35px;
  margin-top: 40px;
}

.mandatorio hr{
  margin: 25px 0;
}
@media (max-width: 414px) {
  .mandatorio{
    margin-left: -30px;
  }
}

.lista2, .lista3{
  margin-top: 40px;
}
.lista2{
  text-align: center;
}


.triangulo1{
  width: 40px;
  height: 40px;
  border-top: 2px solid #2072B7;
  border-left: 2px solid #2072B7;
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  top: -2.6%;
  left: 8%;
}
.triangulo2{
  width: 40px;
  height: 40px;
  border-top: 2px solid #01B59D;
  border-left: 2px solid #01B59D;
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  top: -3.6%;
  left: 28%;
}
.triangulo3{
  width: 40px;
  height: 40px;
  border-top: 2px solid #FFCB26;
  border-left: 2px solid #FFCB26;
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  top: -3.3%;
  left: 48%;
}
.triangulo4{
  width: 40px;
  height: 40px;
  border-top: 2px solid #FF7C2F;
  border-left: 2px solid #FF7C2F;
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  top: -2.8%;
  left: 68%;
}
.triangulo5{
  width: 40px;
  height: 40px;
  border-top: 2px solid #FF5A45;
  border-left: 2px solid #FF5A45;
  position: absolute;
  transform: rotate(45deg);
  background-color: white;
  top: -3.7%;
  left: 88%;
}
.video img{
  width: 100%;
  margin-top: 30px;
}
.div1 p{
  margin-top: 30px;
  margin-left: 15px;
}
@media (min-width: 415px) and (max-width: 999px) {
  .div1 p{
  margin-left: 70px;
  }
}
@media (max-width: 414px) {
  .div1 img{
    position: absolute;
    left: 50%;
    margin-left: -62px;
  }
}
@media (max-width: 414px) {
  .div1 .icone{
    margin-bottom: 180px;
  }
}
.icones2 img{
  width: 85%;
}
@media (max-width: 768px) {
  .icones2 img{
  width: 50%;
  }
}

.btn-banner{
  position: absolute;
  width: 100%;
  background-color: black;
  top: 0%;
  height: 99%;
  opacity: 0.8;
}

.btn-banner2{
  position: absolute;
  width: 230px;
  background-color: #0071BB;
  top: 50%;
  height: 50px;
  left: 50%;
  margin-left: -120px;
  margin-top: -25px;
  cursor: pointer;
}

@media (max-width: 414px) {
  .btn-banner{
    height: 96%;
  }
}


/* Banner Home */

.titulo h1{
  text-align: center;
  color: #0071BB;
  font-size: 33px;
}

.titulo hr{
  text-align: center;
  width: 180px;
  border: 1px solid #0071BB;
  margin: auto;
  margin-top: 20px;
}
.titulo{
  margin-bottom: 157px;
  margin-top: -114px;
  position: relative;
}
@media (max-width: 414px) {
  .titulo{
    position: absolute;
    left: 50%;
    margin-left: -103px;
  }
}
.banner-home{
  height: 360px;
  width: 100%;
  background-image: url('assets/img/home2/banner-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  margin-top: 5px;
}
@media (max-width: 414px) {
  .banner-home{
    position: relative;
    height: 400px;
    z-index: 1;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  .banner-home{
    height: 450px;
  }
}
.banner-home p{
  padding: 240px;
  padding-top: 120px;
  padding-bottom: 20px;
  font-size: 18px;
  color: white;
  text-align: center;
}
@media (max-width: 768px) {
  .banner-home p{
    padding: 35px;
  }
}
.banner-home button{
  position: absolute;
  left: 50%;
  margin-left: -110px;
  background-color: #1F72B6;
  border: 0;
  width: 220px;
  height: 70px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  transition: all ease .8s;
}

.banner-home button:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* Banner Home */

/* Borda Post */
.post-border{
  transition: 0.5s;
  border-bottom: 2px solid #0071BB;
  z-index: 2;
}
.post-border:hover{
    border-bottom: 44px solid #0071BB;
}
.post-border::before{
  content: "Leia Mais";
  position: absolute;
  width: 85%;
  left: 40px;
  bottom: 8px;
  z-index: 2;
  font-size: 17px;
  bottom: 8px;
  color: white;
}

#post-border{
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  animation-timing-function: ease;
}

.img-responsive img{
  width: 100%;
}
.news-v2 .news-v2-desc p{
  margin-bottom: -50px;
}
.news-v2 .news-v2-desc p a{
  color: #555;
}
.news-v2-desc h2{
  font-size: 19px;
  color: #146bac;
}

.news-v2 .news-v2-desc2 p{
  margin-bottom: -50px;
}
.news-v2 .news-v2-desc2 p a{
  color: #555;
}
.news-v2-desc2 h2{
  font-size: 19px;
  color: #146bac;
}
/* Borda Post */

/* Div Posts */
.home-posts{
  background-color: white;
  position: relative;
  top: 365px;
  width: 100%;
}
@media (max-width: 414px) {
  .home-posts{
    top: 0;
  }
}
.news-v2-desc2{
  min-height: 235px;
}
/* Div Posts */

/* Barra categorias blog */
.menu-categorias{
  margin-top: 40px;
}

.menu-categorias ul{
  margin-left: -40px;
}

.menu-categorias li{
-webkit-transition: -webkit-transform .8s ease;
transition:        transform .8s ease;
}
.menu-categorias li:hover{
  -webkit-transform: rotatex(360deg);
          transform: rotatex(360deg);
}

.menu-categorias ul li{
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  width: 220px;
  height: 70px;
  background-color: blue;
  text-align: center;
  margin-right: 6px;
  padding-top: 20px;
  color: white;
  font-size: 18px;
  margin-bottom: 0;
}
@media (max-width: 414px) {
  .menu-categorias ul li{
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  .menu-categorias ul li{
    margin-bottom: 20px;
  }
}
.menu-subcategorias{
  margin-top: 35px;
  margin-bottom: 45px;
}
.menu-subcategorias ul{
  margin-left: -40px;
}
.menu-subcategorias ul li{
  display: inline-block;
  margin-right: 45px;
}
@media (max-width: 414px) {
  .menu-subcategorias ul li{
    display: block;
  }
}
/* Barra categorias blog */

.margin-bottom-80{
  margin-bottom: 80px;
}

/* Banner Pagina Tecnologia em Áreas de Negócio */

.banner-area-tecnologia{
  height: 250px;
  width: 100%;
  background-image: url('assets/img/home2/imagem-areadenegocio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
}
.banner-area-tecnologia p{
  padding: 400px;
  font-size: 17px;
  color: white;
  padding-top: 110px;
  margin-left: 20px;
  text-align: center;
}
@media (max-width: 414px) {
.banner-area-tecnologia p{
  padding: 15px;
  font-size: 17px;
  color: white;
  padding-top: 90px;
  margin-left: 0px;
  text-align: center;
  }
}

/* Banner Pagina Tecnologia em Áreas de Negócio */

/* Banner Pagina Papel e Celulose */

.banner-papel-celulose {
  position: relative;
  height: 250px;
  width: 100%;
  background-image: url('assets/img/papel-e-celulose/banner-papel-celulose2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 80px;
}

.banner-papel-celulose p{
  padding: 380px;
  font-size: 17px;
  color: white;
  padding-top: 65px;
  margin-left: 20px;
  text-align: center;
  padding-right: 380px;
}

@media (max-width: 414px) {
  .banner-papel-celulose p{
    padding: 0px;
    font-size: 17px;
    color: white;
    padding-top: 20px;
    margin-left: 20px;
    text-align: center;
    padding-right: 15px;
  }
}
@media (min-width: 415px) and (max-width: 800px) {
  .banner-papel-celulose p{
    padding: 0px;
    font-size: 17px;
    color: white;
    padding-top: 80px;
    margin-left: 20px;
    text-align: center;
    padding-right: 15px;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  .banner-papel-celulose p{
    padding: 199px;
    font-size: 17px;
    color: white;
    padding-top: 60px;
    margin-left: 20px;
    text-align: center;
    /* padding-right: 380px; */
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  .banner-papel-celulose p{
    padding: 268px;
    font-size: 17px;
    color: white;
    padding-top: 65px;
    margin-left: 20px;
    text-align: center;
    /* padding-right: 380px; */
  }
}

/* Banner Pagina Papel e Celulose */

/* Barra de pesquisa */

.box-buscar{
  width: 100%;
  margin-top: 35px;
}
.box-buscar input{
  width: 100%;
  border: 2px solid lightgray;
  padding: 10px 20px 9px 55px;
  background-image: url('../2s/assets/img/home2/searchicon.png');
  background-repeat: no-repeat;
  background-size: 37px;
}
.input-group{
  width: 100%;
}
/* Barra de pesquisa */

.div-sfoto{
  width: 100%;
  height: 261px;
  background-color: lightgray;
}

.botao-contato{
  width: 18%;
}
