/* Large desktop */
@media (min-width: 1200px) { 
    /*body    {
        color: green;
    }*/ 
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) { 
    /*body    {
        color: purple;
    }*/
   

}
@media screen and (min-width: 600px) and (max-width: 800px) {    
  

}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    /*body    {
        color: blue;
    }*/
  

}
@media only screen and (max-width:37.5em) and (max-height:50em) { 
    /* CSS rules here */
    /*body    {
        color: yellow;
    }*/

  
}
@media (max-width: 600px) { 
    /*body    {
        color: yellow;
    }*/
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    /*body    {
        color: red;
    }*/
    .none-mobile {
        display: none;
    }
    /*//header*/
    .header-v6 .navbar-brand img {
    width: 200px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    }

    .header-v6 .navbar-brand {
        padding: 0px;
        margin-bottom: 15px;
        height: auto;
        line-height: 45px;
    }
    /*//end header*/

    /*//footer*/
    .footer-v1 .copyright{
        font-size: 10px;
    }

    .por a{
    text-align: right;
    padding-right: 50px;
    color: #fff !important;
    }
    /*//end footer*/

    /*//Backgrounds Internas*/
    .titulos-breadcrumbs {
        background: rgba(255, 255, 255, 0.7);
        margin: 10px 0px !important;
        padding: 10px;
        float: right;
    }

    .titulos-breadcrumbs h1 {
        font-size: 18px !important;
        font-weight: bold !important;
        text-transform: uppercase;
        line-height: 10px !important;
        color: #146bac !important;
    }
    /*//end Backgrounds Internas*/

    /*//Icons missao*/
    span.icons-missao > i{
        font-size: 14px !important
    }

    .m-left {
        margin: -20px 15% 0px 15% !important;
    }

    .m-left-2 {
        margin: -10px 25% 0px 25% !important;
    }
}