.main-navigation {
    border-bottom: 4px solid #ccc;
    background: #1f71b7;
}

.main-navigation ul > li > a { 
	cursor:pointer;
}

.main-navigation > ul > li:nth-child(1) > a {
    border-color: #004b5c;
    color:#fff; 
}

.main-navigation > ul > li:nth-child(1) > a:hover, .main-navigation > ul > li:nth-child(1) > a.active {
    background: #004b5c;
}

.main-navigation > ul > li:nth-child(2) > a {
    border-color: #00b59d;
    color:#fff; 
}

.main-navigation > ul > li:nth-child(2) > a:hover, .main-navigation > ul > li:nth-child(2) > a.active {
    background: #00b59d;
}

.main-navigation > ul > li:nth-child(3) > a {
    border-color: #ffcb26;
    color:#fff; 
}

.main-navigation > ul > li:nth-child(3) > a:hover, .main-navigation > ul > li:nth-child(3) > a.active {
    background: #ffcb26;
}

.main-navigation > ul > li:nth-child(4) > a {
    border-color: #ff7c2f;
    color:#fff; 
}

.main-navigation > ul > li:nth-child(4) > a:hover, .main-navigation > ul > li:nth-child(4) > a.active {
    background: #ff7c2f;
}

.main-navigation > ul > li:nth-child(5) > a {
    border-color: #ff5a44;
    color:#fff; 
}

.main-navigation > ul > li:nth-child(5) > a:hover, .main-navigation > ul > li:nth-child(5) > a.active {
    background: #ff5a44;
}

.main-navigation > ul > li:nth-child(6) > a {
    border-color: #66acc3;
    color:#fff; 
}

.main-navigation > ul > li:nth-child(6) > a:hover, .main-navigation > ul > li:nth-child(6) > a.active {
    background: #66acc3;
}


.main-navigation > ul > li:nth-child(7) > a {
    border-color: #474443;
    color:#fff; 
}

.main-navigation > ul > li:nth-child(7) > a:hover, .main-navigation > ul > li:nth-child(7) > a.active {
    background: #474443;
}



.entry-content a.more-link {
    background: #fff;
}

.entry-meta a:hover, .nav-single a:hover, .comment-meta a:hover, .comment-reply-link:hover, .navigation a:hover, .post-pagination a:hover, .related-posts a:hover, .archives a:hover, .entry-content a.more-link:hover, .launch-wrap a:hover, .archives-tag.post-list a:hover, .tagcloud a:hover, input[type=submit]:hover, input[type=button]:hover, button:hover, a.button:hover, .mejs-controls .mejs-time-rail .mejs-time-loaded, .flex-direction-nav a:hover {
	background-color: #1f71b7;
}

.format-link .link-content a:hover, .site-content h1 a:hover {
    color: #1f71b7;
}

.blog-masonry .entry-meta {
	display: block !important;
}

#main {background: #f2f2f2; }


.entry-meta a, .post-pagination li a {
    background: #fff;
}

.site-header {padding-bottom: 0px;}

h1.site-title, h1.site-title a {
    font-family: Georgia, serif; 
    font-size: 2.5rem;
}

.site-footer {padding: 0 0 1.5em 0;
background: #1f71b7;}

.site-footer .site-info, .site-footer .site-info a {
    color: #fff;
}

#slideshow {

}

.easingslider-278 .easingslider-image {
    width: 100% !important;
    height: auto !important;
    max-height: auto;
}

.site-header hgroup {
    padding: 0.5em 0;
}
